//$sidebar-width: 20rem;

html {
  background-color: $color-body;
  box-sizing: border-box;
  // overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo {
  height: $logo-height;
  //@extend .mb-3;
  margin-bottom: calc(#{$side-margin} - 0.5vw);
  @include media-query(small) {
    width: 50%;
  }
  @include media-query(large-up) {
    visibility: hidden;
  }
}

#topbar-logo-container {
  line-height: 0;
  //top: calc(#{$side-margin} - 1.5rem);
  position: absolute;
  margin-top: -0.5rem;
  left: $side-margin;
}

.topbar-logo {
  height: $logo-height;
  //@extend .mb-3;
  // margin-bottom: calc(#{$side-margin} - 0.5vw);
  @include media-query(small) {
    width: 50%;
  }
}

#splash {
  //background-color: $color-accent;
  background-position: center center;
  background-size: cover;
  @include full-height;
  .title-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
  }
  a {
    cursor: pointer;
    transition: opacity 0.3s;
    @include hover {
      opacity: 0.5;
    }
  }
}

body,
html {
  height: 100%;
  position: relative;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  #side {
    height: 100%;
    //@include full-height;
    padding: $side-margin $side-margin 0 $side-margin;
    @include media-query(medium-down) {
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      transition: transform 0.3s;
      transform: translateX(-100%);
      z-index: 99999;
    }
  }
  #main {
    width: 100%;
  }
}

#hamburger {
  display: none;
  @include media-query(large-up) {
    display: none;
  }
  &:checked + #side {
    transform: translateX(0);
    .hamburger-toggle {
      opacity: 0;
    }
  }
}

$hamburger-size: 60px;
.hamburger-toggle {
  transition: opacity 0.3s;
  position: absolute;
  right: calc(#{-$hamburger-size} - #{$side-margin});
  width: $hamburger-size;
  height: $hamburger-size;
  margin-top: -0.1rem;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  //background: url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png)
  // 0% 0% / 18px 18px no-repeat;
  background: url("../assets/icons/hamburger_black.png") 0% 0% / auto 1.4rem
    no-repeat;
  &.white {
    background: url("../assets/icons/hamburger_white.png") 0% 0% / auto 1.4rem
      no-repeat;
  }
  @include media-query(large-up) {
    display: none;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
}

#sidebar-container {
  position: relative;
  .placeholder {
    visibility: hidden;
  }
  .sidebar {
    position: fixed;
    width: inherit;
    top: 0;
    padding-top: $side-margin;
    padding-bottom: $side-margin;
    //height: 100%;
    @include full-height;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.8s;
    &:not(.list-collections).slide-up {
      @include media-query(large-up) {
        transform: translateY(calc(#{-$side-margin} + 2rem));
      }
    }
  }
  .search-input {
    width: calc(100% - #{$side-margin});
  }
  nav {
    height: 100%;
  }
}

.search-input {
  font-size: 100% !important;
}

.mobile-top-nav {
  position: absolute;
  bottom: $side-margin;
}

#topbar-container {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  //transition: background-color 0.5s, color 0.5s, border-color 0.5s, padding 0.5s;
  // ^ transition added via js after load
  text-align: right;
  padding-top: calc(#{$side-margin} - 1rem);
  padding-bottom: calc(#{$side-margin} - 1rem);
  width: 100%;
  padding-right: $side-margin;
  right: 0;
  z-index: 99999;
  @include media-query(medium-down) {
    width: auto;
  }
  .topbar-logo.default {
    margin-top: 1.5rem;
  }
  .topbar-logo.color {
    display: none;
  }
  // BACKGROUND COLOR AFTER SCROLL DOWN
  &:not(.list-collections).bg {
    @include media-query(large-up) {
      padding-top: 2rem;
      padding-bottom: 2rem;
      background-color: rgba(255, 255, 255, 0.95);
      color: $color-body-text;
      a {
        @include hover {
          color: initial;
        }
      }
      .active,
      input {
        color: initial;
      }
      #item-count,
      .search-input {
        border-color: initial;
      }
      .topbar-logo.default {
        display: none;
      }
      .topbar-logo.color {
        display: block;
      }
    }
  }
  @include media-query(small) {
    top: calc(#{$side-margin} - 1.1rem);
  }
  ul {
    display: inline-block;
  }
  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 3.4vw;
      @include media-query(widescreen) {
        margin-right: $side-margin;
      }
    }
  }
}

// white nav on mobile for home page
.white-mobile {
  @include media-query(medium-down) {
    color: #fff;
    a {
      @include hover {
        color: #fff;
      }
    }
    .active,
    input {
      color: #fff;
    }
    #item-count,
    .search-input {
      border-color: #fff;
    }
  }
}

.white-desktop {
  @include media-query(large-up) {
    color: #fff;
    a {
      @include hover {
        color: #fff;
      }
    }
    .active,
    input {
      color: #fff;
    }
    #item-count,
    .search-input {
      border-color: #fff;
    }
  }
}

.header {
  //mix-blend-mode: difference;
  &.collection {
    li a,
    .nav-header {
      @include hover {
        opacity: 0.5;
      }
    }
    .active {
      opacity: 0.5;
    }
  }
}

nav {
  ul {
    list-style: none;
    padding-left: 0;
  }
  a {
    color: inherit;
    // transition: color 0.3s;
    @include hover {
      color: $teal;
      opacity: 0.5;
    }
    &.active {
      color: $teal;
      opacity: 0.5;
    }
  }
}

#item-count {
  display: inline-block;
  margin: 0 1rem;
  border: 1px solid $color-body-text;
  text-align: center;
  border-radius: 10rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.8rem;
  @include media-query(small) {
    width: 2.7rem;
    height: 2.8rem;
    padding: 0.4rem;
  }
}

.search {
  label {
    margin-right: 0.4rem;
  }
  &-input {
    @extend .header;
    border: 0;
    outline: 0 !important;
    background: transparent;
    border-bottom: 1px solid $color-body-text;
    width: 10rem;
    @include media-query(large) {
      width: 8rem;
    }
  }
  &-submit {
    visibility: hidden;
    display: none;
  }
}

.nav-header {
  // text-transform: uppercase;
  font-weight: 600;
  display: block;
  white-space: nowrap;
}

#sideways-title {
  img {
    padding-top: $side-margin;
    width: 13rem;
  }
  @media only screen and (max-height: 800px) {
    // display: none;
  }
}

#page {
  margin-top: $top-space;
  margin-bottom: $top-space;
  display: flex;
  img {
    max-width: 100%;
  }
  &:not(.product-page),
  &:not(.cart-page) {
    @extend .paragraph;
  }
  @include media-query(medium-down) {
    padding-left: $side-margin;
    padding-right: $side-margin;
    padding-bottom: $side-margin;
  }
  h1 {
    margin-top: -0.5vw;
  }
  .page-content {
    width: 100%;
    @include media-query(large) {
      padding-right: $side-margin * 2;
    }
    @include media-query(small) {
      margin-bottom: $spacer-3;
    }
  }
  .page-spacer {
    // default spacer before js overwrites
    width: 15vw;
    @include media-query(large-down) {
      display: none;
    }
  }
  &.product-page {
    .price {
      @include media-query(large-up) {
        font-size: 200%;
      }
      .unavailable {
        text-decoration: line-through;
        display: inline-block;
        &:after {
          content: "Sold Out";
          color: $teal;
          text-decoration: none !important;
          display: inline-block;
          margin-left: 1rem;
        }
      }
    }
  }

  &.cart-page {
    .quantity-container {
      margin-top: -0.5rem;
    }
    table {
      width: 100%;
    }
    th {
      @extend .small;
      padding: $spacer-1;
    }
    .th {
      margin-bottom: $spacer-1 !important;
      @include media-query(large-up) {
        display: none;
      }
    }
    tr {
      border-bottom: 1px solid #000;
      @include media-query(small) {
        padding: $spacer-2;
      }
    }
    td {
      text-align: center;
      padding: $spacer-2;
      vertical-align: middle;

      @include media-query(medium-down) {
        text-align: left;
        display: inline-block;
        width: 50%;
        padding: $spacer-1 0;
        // don't collapse
        &.full {
          width: 100%;
          img {
            padding-right: $spacer-1;
          }
        }
        &:nth-child(2) {
          padding-top: $spacer-2;
        }
        &:last-child {
          padding-bottom: $spacer-2;
        }
      }
    }
    h2,
    p {
      margin-bottom: $spacer-1 !important;
    }
    img {
      float: left;
      //height: 100%;
      max-width: 12rem;
      @include media-query(large-up) {
        max-width: 15rem;
      }
    }
    .medium-down-flex {
      @include media-query(medium-down) {
        display: flex;
      }
    }
  }
  .staff-table {
    td {
      vertical-align: top;
      padding: 0 $spacer-2 $spacer-2 0;
      &:first-child {
        width: 20%;
      }
    }

    img {
      width: 100%;
      height: auto;
      //max-width: 200px;
    }
  }
}

#cart-summary {
  @include media-query(medium-up) {
    float: right;
  }
}

#product-images-container {
  //  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 150%;
  position: relative;
  .arrow-container {
    position: absolute;
    color: #000;
    display: flex;
    bottom: $side-margin / 2;
    right: $side-margin / 2;
    @include media-query(small) {
      bottom: $side-margin;
      right: $side-margin;
    }
    .arrow {
      user-select: none;
      line-height: 0;
      height: 5rem;
      width: 5rem;
      border: 1px solid #000;
      border-radius: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @include media-query(small) {
      }
    }
    .prev {
      margin-right: $side-margin / 4;
      @include media-query(medium) {
        margin-right: $side-margin / 3;
      }
      @include media-query(small) {
        margin-right: $side-margin / 1.5;
      }
    }
    .next {
    }
    .prev,
    .next {
      transition: transform 0.3s;
      @include hover {
        transform: scale(1.1);
      }
    }
  }
  .counter {
    position: absolute;
    top: $side-margin / 2;
    left: $side-margin / 2;
    @include media-query(small) {
      top: $side-margin;
      left: $side-margin;
    }
  }
  ul {
    // overflow: scroll;
    // background-color: red;
    position: absolute;

    top: 0;
    left: 0;
    // display: flex;
    height: 100%;
    width: 100%;
  }
  li {
    height: 100%;
    width: 100%;
    background-color: $light-gray;
    display: none;
    &.active {
      display: block;
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.quantity-container {
  min-width: 8rem;
  .plus,
  .minus {
    border: 1px solid #000;
    border-radius: 5rem;
    display: inline-block;
    line-height: 1em;
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
    user-select: none;
    @include hover {
      transform: scale(1.2);
    }
  }
}

.quantity-input {
  // border-bottom: 1px solid #000;
  text-align: center;
  width: 3rem;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.input {
  @extend .small;
  border-bottom: 1px solid #000;
  display: inline-block;
  &::placeholder {
    opacity: 0.7;
  }
  &:not(.button) {
    width: 100%;
    padding: 1rem;
  }
}

#page.login-page {
  .page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  a {
    display: inline-block;
  }
  #login-container {
    width: 100%;
    max-width: 30rem;
    input {
      @extend .input;
    }
  }
}

textarea:focus,
input:focus,
input {
  outline: none !important;
}
*:focus {
  outline: none !important;
}

.pagination {
  text-align: center;
  padding: 0 $side-margin;
  .active {
    //font-weight: bold;
    // color: $teal;
    position: relative;
    &:after {
      content: "";
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 2.5rem;
      border: 1px solid black;
      position: absolute;
      top: -0.4rem;
      left: -1rem;
    }
  }
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    text-align: center;

    &.page {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }
}

iframe {
  display: block;
}

.swatch-style {
  display: inline-block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3rem;
  box-sizing: content-box;
  border: solid 0.1rem rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0);
  user-select: none;
  &:not(:last-of-type) {
    margin-right: 1rem;
  }
}

$swatch-border-gap: 0.4rem;
.swatch-border-style {
  content: "";
  position: absolute;
  top: calc(-#{$swatch-border-gap} - 0.1rem);
  left: calc(-#{$swatch-border-gap} - 0.1rem);
  padding: $swatch-border-gap;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  border: 0.1rem solid rgba(0, 0, 0, 1);
  border-radius: 10rem;
}

.swatch-x-style {
  content: "✕";
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 2.6rem;
  font-size: 4rem;
  top: 0;
  left: -0.25rem;
  color: rgba(0, 0, 0, 1);
}

body.template-password {
  overflow: scroll;
  text-align: center;
  background-color: $teal;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-query(medium-down) {
    background-image: none !important;
    background-color: white;
    display: block;
  }
  #main {
    background-color: white;
    max-width: 800px;
    padding: $side-margin;
    margin: $side-margin;
    @include media-query(medium-down) {
      padding-top: $spacer-3;
      padding-bottom: $spacer-3;
    }
    @include media-query(small) {
      //  margin-top: $spacer-2;
      //  margin-bottom: $spacer-2;
    }
  }
  input {
    @extend .input;
    max-width: 25rem; // same as login container
    @include media-query(small) {
      max-width: auto;
      width: 100%;
    }
  }
  .button {
    display: inline-block;
    margin-left: $spacer-1;
    @include media-query(small) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: $spacer-1;
    }
  }
}

.challenge-page {
  .shopify-challenge__button {
    @extend .button;
    display: block !important;
    margin-top: $spacer-2;
  }
}
