//$sidebar-width: 20rem;

html {
  background-color: $color-body;
  box-sizing: border-box;
  // overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#logo {
  height: $logo-height;
  //@extend .mb-3;
  margin-bottom: calc(#{$side-margin} - 0.5vw);
  @include media-query(small) {
    width: 50%;
  }
}

#splash {
  background-color: $color-accent;
  background-position: center center;
  background-size: cover;
  @include full-height;
  .title-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
  }
}

#collection-splash {
  background-color: $color-accent;
  background-position: center center;
  background-size: cover;
  //height: 100vh;
  @include full-height;
  width: 100vw;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.white {
      color: #fff;
    }
  }
}

#collection {
  // min-height: 100vh;
  margin-top: 100vh;
  top: 0;
  position: absolute;
  width: 100vw;
  left: 0;
  background-color: white;
  z-index: 99999;

  padding-left: $side-margin;
  padding-right: $side-margin;

  @include media-query(large-down) {
    padding-left: $side-margin;
    padding-right: $side-margin;
  }
  .available {
    img {
      transition: transform 0.4s;
      @include hover {
        transform: scale(1.05);
      }
    }
  }
  .soldout {
    text-decoration: line-through;
    opacity: 0.17;
  }
  .product-container {
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 150%;
    position: relative;
    background-color: $light-gray;
    img {
      top: 0;
      position: absolute;
      width: 100%;
    }
  }
}

body,
html {
  height: 100%;
  position: relative;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  #side {
    height: 100%;
    //@include full-height;
    padding: $side-margin $side-margin 0 $side-margin;
    @include media-query(medium-down) {
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      transition: transform 0.3s;
      transform: translateX(-100%);
      z-index: 9999;
    }
  }
  #main {
    width: 100%;
  }
}

#hamburger {
  display: none;
  @include media-query(large-up) {
    display: none;
  }
  &:checked + #side {
    transform: translateX(0);
    .hamburger-toggle {
      opacity: 0;
    }
  }
}

$hamburger-size: 60px;
.hamburger-toggle {
  transition: opacity 0.3s;
  position: absolute;
  right: calc(#{-$hamburger-size} - #{$side-margin});
  width: $hamburger-size;
  height: $hamburger-size;
  margin-top: -0.1rem;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  //background: url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png)
  // 0% 0% / 18px 18px no-repeat;
  background: url("../assets/icons/hamburger_black.png") 0% 0% / auto 1.4rem
    no-repeat;
  &.white {
    background: url("../assets/icons/hamburger_white.png") 0% 0% / auto 1.4rem
      no-repeat;
  }
  @include media-query(large-up) {
    display: none;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
}

#sidebar-container {
  position: relative;
  .placeholder {
    visibility: hidden;
  }
  .sidebar {
    position: fixed;
    width: inherit;
    top: 0;
    padding-top: $side-margin;
    padding-bottom: $side-margin;
    //height: 100%;
    @include full-height;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .search-input {
    width: calc(100% - #{$side-margin});
  }
  nav {
    height: 100%;
  }
}

.mobile-top-nav {
  position: absolute;
  bottom: $side-margin;
}

#topbar-container {
  position: fixed;
  text-align: right;
  top: calc(#{$side-margin} - 1rem);
  right: $side-margin;
  z-index: 99999;
  @include media-query(small) {
    top: calc(#{$side-margin} - 0.7rem);
  }
  ul {
    display: inline-block;
  }
  li {
    display: inline-block;
    @include media-query(large-up) {
      &:not(:last-child) {
        // margin-right: $spacer-3;
        margin-right: $side-margin;
      }
    }
  }
}

// white nav on mobile for home page
.white-mobile {
  @include media-query(medium-down) {
    color: #fff;
    a {
      @include hover {
        color: #fff;
      }
    }
    .active,
    input {
      color: #fff;
    }
    #item-count,
    .search-input {
      border-color: #fff;
    }
  }
}

.white-desktop {
  @include media-query(large-up) {
    color: #fff;
    a {
      @include hover {
        color: #fff;
      }
    }
    .active,
    input {
      color: #fff;
    }
    #item-count,
    .search-input {
      border-color: #fff;
    }
  }
}

.header {
  //mix-blend-mode: difference;
  &.collection {
    li a,
    .nav-header {
      @include hover {
        opacity: 0.6;
      }
    }
    .active {
      opacity: 0.6;
    }
  }
}

nav {
  ul {
    list-style: none;
    padding-left: 0;
  }
  a {
    color: inherit;
    //transition: color 0.3s;
    @include hover {
      color: $teal;
    }
    &.active {
      color: $teal;
    }
  }
}

#item-count {
  display: inline-block;
  margin: 0 1rem;
  border: 1px solid $color-body-text;
  text-align: center;
  border-radius: 10rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.8rem;
  @include media-query(small) {
    width: 2.7rem;
    height: 2.8rem;
    padding: 0.4rem;
  }
}

.search {
  label {
    margin-right: 0.4rem;
  }
  &-input {
    @extend .header;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid $color-body-text;
    width: 10rem;
  }
  &-submit {
    visibility: hidden;
    display: none;
  }
}

.nav-header {
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  white-space: nowrap;
}

#sideways-title {
  img {
    width: 13rem;
  }
}

#page {
  margin-top: $top-space;
  display: flex;
  &:not(.product-page) {
    h1:not(:last-child) {
      margin-bottom: $spacer-2;
    }
    h2,
    h3,
    p:not(:last-child) {
      @extend .mb-2;
    }
  }
  @include media-query(medium-down) {
    padding-left: $side-margin;
    padding-right: $side-margin;
    padding-bottom: $side-margin;
  }
  .page-content {
    width: 100%;
  }
  .page-spacer {
    @include media-query(medium-down) {
      display: none;
    }
  }
  &.product-page {
    .price {
      @include media-query(large-up) {
        font-size: 200%;
      }
    }
  }
  &.cart-page {
    table {
      width: 100%;
      // border-collapse: separate;
      // border-spacing: 0 $side-margin/2;
    }
    th {
      @extend .small;
      padding: $spacer-1;
    }
    tr {
      border-bottom: 1px solid #000;
    }
    td {
      text-align: center;
      padding: $spacer-2;
      vertical-align: middle;
      &:not(:first-child) {
      }
    }
    img {
      float: left;
      //height: 100%;
    }
  }
}

#product-images-container {
  //  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 150%;
  position: relative;
  .arrow-container {
    position: absolute;
    color: #000;
    display: flex;
    bottom: $side-margin / 2;
    right: $side-margin / 2;
    @include media-query(small) {
      bottom: $side-margin;
      right: $side-margin;
    }
    .arrow {
      user-select: none;
      line-height: 0;
      height: 5rem;
      width: 5rem;
      border: 1px solid #000;
      border-radius: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @include media-query(small) {
      }
    }
    .prev {
      margin-right: $side-margin / 4;
      @include media-query(medium) {
        margin-right: $side-margin / 3;
      }
      @include media-query(small) {
        margin-right: $side-margin / 1.5;
      }
    }
    .next {
    }
    .prev,
    .next {
      transition: transform 0.3s;
      @include hover {
        transform: scale(1.1);
      }
    }
  }
  .counter {
    position: absolute;
    top: $side-margin / 2;
    left: $side-margin / 2;
    @include media-query(small) {
      top: $side-margin;
      left: $side-margin;
    }
  }
  ul {
    // overflow: scroll;
    // background-color: red;
    position: absolute;

    top: 0;
    left: 0;
    // display: flex;
    height: 100%;
    width: 100%;
  }
  li {
    height: 100%;
    width: 100%;
    background-color: $light-gray;
    display: none;
    &.active {
      display: block;
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
