@font-face {
  font-family: "Din";
  src: url("../assets/fonts/din/din.woff2") format("woff2"),
    url("../assets/fonts/din/din.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/graphik/Graphik-Regular.woff2") format("woff2"),
    url("../assets/fonts/graphik/Graphik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/graphik/Graphik-Semibold.woff2") format("woff2"),
    url("../assets/fonts/graphik/Graphik-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  color: $color-body-text;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-family: "Graphik";
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-family: "Din";
  font-size: 6vw;
  @include media-query(medium-down) {
    //font-size: 8vw;
  }
}

h2 {
  font-size: 1.9rem;
  font-weight: bold;
}

p {
  line-height: 160%;
}

b {
  font-weight: 600;
}

.header {
  @extend p;
  font-size: 1.2rem;
  line-height: 160%;
  text-transform: uppercase;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a {
  color: $color-accent;
  text-decoration: none;
}

a:focus {
  color: inherit;
}
