<div id="page" class="challenge-page">
  <div class="page-content">
    <h1>{{ page.title }}</h1>
    {{ content_for_layout }}
  </div>
  <div class="page-spacer"></div>
</div>

<script>
  // Set padding-right = sidebar
  $(window).on("load resize", function() {
    var sidebarWidth = $("#side").innerWidth();
    $(".page-spacer").css("width", sidebarWidth);
  });
</script>
