.collection-list {
  display: flex;
  flex-wrap: wrap;
  max-width: $grid-max-width;
}

.collection-list-item {
  flex: 1 1 percentage(1 / 3);
  height: 100%;
  text-align: center;
}

.collection-list__image {
  min-width: 320px;
}

.collection-list__title {
  flex-basis: 100%;
}

/**** custom ******/

#collection-counter {
  position: fixed;
  top: $side-margin;
  margin-left: 35vw;
  padding-left: calc(#{$spacer-3} - 1rem);
  @extend .header;
}

.collection-container {
  height: 100vh;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  @include media-query(medium) {
    height: 50vh;
  }
  @include media-query(small) {
    //height: 100%;
    height: 33.33vh;
  }
  .title-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    height: 100%;
  }
}

.collection-banner {
  height: 100%;
  width: 35vw;
  background-size: cover;
  background-position: center center;
  @include media-query(medium-down) {
    width: 100%;
  }
}

.collection-info {
  padding-top: 10vh;
  padding-left: $spacer-3;
  max-width: 50vw;
  padding-right: $side-margin;
  // background-color: blue;
  h1 {
    max-width: 60%;
    margin-bottom: $spacer-3;
    @include media-query(medium-down) {
      max-width: 80%;
    }
  }
  @include media-query(medium-down) {
    padding-left: $side-margin;
  }
}

.collection-preview {
  margin-bottom: $spacer-3;
  img {
    width: 100%;
    transition: transform 0.7s;
    &:nth-child(odd) {
      @include hover {
        transform: translateY(1.5rem);
      }
    }
    &:nth-child(even) {
      @include hover {
        transform: translateY(1.5rem);
      }
    }
  }
}
