#collection-splash {
  // background-color: $color-accent;
  background-position: center center;
  background-size: cover;
  //height: 100vh;
  @include full-height;
  width: 100vw;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.white {
      color: #fff;
    }
  }
}

#collection {
  // min-height: 100vh;
  margin-top: 100vh;
  top: 0;
  position: absolute;
  width: 100vw;
  left: 0;
  background-color: white;
  z-index: 9999;

  padding-left: $side-margin * 2;
  padding-right: $side-margin * 2;

  @include media-query(large-down) {
    padding-left: $side-margin;
    padding-right: $side-margin;
  }
  a {
    text-decoration: none !important;
  }
  .swatch-container {
    position: absolute;
    bottom: $spacer-1;
    right: $spacer-1;
    max-width: 100%;
    margin-right: 0.5rem;
  }
  .swatch {
    @extend .swatch-style;
  }
}

#product-type-list {
  text-align: center;
  padding: 0 $side-margin;
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  li {
    display: inline-block;
    //background-color: blue;
    padding: $spacer-1 $spacer-1 0 $spacer-1;
    // transition: color 0.3s, opacity 0.3s;
  }
  a {
    &.active {
      color: $teal;
      opacity: 0.5;
    }
    @include hover {
      color: $teal;
      opacity: 0.5;
    }
  }
}
