/* Hide the browser's default radio button */
h3 {
  cursor: text;
}

#product-images-container {
  user-select: none;
}
.product-options {
  .radio {
    label {
      @extend .small;
      overflow: hidden;
      display: inline-block;
      width: 4rem;
      height: 4rem;
      line-height: 3.9rem;
      border: solid 1px black;

      font-weight: bold;
      text-align: center;
      user-select: none;
      transition: background-color 0.3s, color 0.3s;
      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }
    input[type="radio"] {
      display: none;

      &:checked + label,
      &:not(:disabled):hover + label {
        background-color: black;
        color: white;
      }
      &:disabled + label {
        cursor: default;
        opacity: 0.2;
      }
    }
  }

  $radio-gap: 0.4rem;
  .color-radio {
    label {
      @extend .small;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 3rem;
      box-sizing: content-box;
      border: solid 0.1rem rgba(0, 0, 0, 0.2);
      color: rgba(0, 0, 0, 0);
      user-select: none;
      position: relative;
      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
    input[type="radio"] {
      display: none;
      &:checked + label,
      &:not(:disabled):hover + label {
        &:after {
          content: "";
          position: absolute;
          top: calc(-#{$radio-gap} - 0.1rem);
          left: calc(-#{$radio-gap} - 0.1rem);
          padding: $radio-gap;
          height: 100%;
          width: 100%;
          box-sizing: content-box;
          border: 0.1rem solid rgba(0, 0, 0, 1);
          border-radius: 10rem;
        }
      }
      &:disabled + label {
        cursor: not-allowed;
        position: relative;
        &:after {
          content: "✕";
          position: absolute;
          height: 100%;
          width: 100%;
          text-align: center;
          line-height: 2.6rem;
          font-size: 4rem;
          top: 0;
          left: -0.25rem;
          color: rgba(0, 0, 0, 1);
        }
      }
    }
  }
}

select {
  // font-size: 0.9em;
  @extend .small;
  //min-width: 4em;
  padding: 0.1em 2.2em 0.1em 0.7em;

  border: 1px solid #000;
  height: 34px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 28 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 60%;
  background-repeat: no-repeat;
  /*
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #fff; */
}

/* CAUTION: Internet Explorer hackery ahead */

select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}

#magnify {
  width: 25rem;
  height: 25rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  border: 1px solid $color-body-text;
  background-repeat: no-repeat;
  transition: opacity 0.2s, transform 0.2s;
  transform: scale(0) translate(-50%, -50%);
  opacity: 0;
  // background-size: 100% 100%;

  &.visible {
    cursor: none;
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}
